header{
  line-height: normal;
}

header .headline{
  color: #1f94b5;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}
@media(max-width:768px){
  header .headline{
    font-size: 30px;
  }
}

header .tagline-a, 
header .tagline-b{
  font-size: 35px;
  margin: 0px;
}
@media(max-width:768px){
  header .tagline-a, 
  header .tagline-b{
    font-size: 25px;
    padding-top: 0px;
  }
}